a{
    color: #8f392c !important;
    font-weight: 500;
}
.aBis{
    color: #fff !important;
    font-weight: 500;
    text-decoration: underline;
}
.aBis:hover{
    text-decoration: none;
}
.imgHeader{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.btn-outline-primary{
    color: #8f392c !important;
    border-color: #8f392c !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary.active {
    background: #8f392c !important;
    color: #ffffff !important;
    border-color: #8f392c !important;

}
.btn-sm {
    margin-left: 5px !important;
}
.hrCustom{
    margin-bottom: 10px;
    border:2px solid #8f392c ;
}
.content{
    min-height: 78vh ;
}
.borderTitle{
    width: 65%;
    border: 1px solid black;
    background-color:#8f392c;
    color:white;
    font-family: "Brush Script MT";
    box-shadow: 5px 5px #888888
}
.description{
    color:#8f392c;
    font-weight: 500;
}
.footer{
    background-color: #8f392c;
}
.componentFooter{
    width: 30%;
    color:white;
    font-size: 0.6rem;
    font-weight: 500;
}

.btn-primary{
    background: #8f392c !important;
    color: #ffffff !important;
    border-color: #8f392c !important;
}
.ma-form{
    color: #790b30;
}
.border-class{
    border: 2px solid #790b30
}
.titre-border{
    font-weight : 900;
    width: 80%;
    border: 1px solid black;
    background-color:#8f392c;
    color:white;
    font-style: italic;
    box-shadow: 5px 5px #888888

}
.btn-submit{
    float: right;
}

text-center {
    margin-top: 10px !important;
}

.mamamiaTitle{
    font-size: 4em;
    color: #8f392c;
    font-weight: bold;
    font-family: "Brush Script MT";

    padding-left: 50px;
}

.underlinedText{
    font-style: italic;
    text-decoration: underline;
    padding-top: 15px;
    text-align: center;
}

.regularTitle{
    font-size: 1.5em;
    color: #8f392c;
}

.contactInfo td
{
    padding: 8px;
}

.dropdown
{
    display: inline;
}

.historyTable
{
    width: 100%;
}

.historyTable tr
{
    border-bottom: #8f392c 1px solid;
    border-top: #8f392c 1px solid;


}

.historyTable td
{
    padding: 10px 5px;
    width: 33%;
    color: #790b30;
    text-align: center;

}
