<h1>
    Page d'inscription
</h1>

<form action='{{ path('homeLog') }}' method="post">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="fName" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="lName" placeholder="Last name">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="idUser" placeholder="Username">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="mail" placeholder="Mail">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="pwd" placeholder="Password">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="gender" placeholder="Gender">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="address" placeholder="Address">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">MAMMA MIA</button>
</form>