{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <h1>
        Il vous faudrait de vous connecter pour pouvoir réserver une place chez nous.
    </h1>

{% endblock %}