{% extends 'base.html.twig' %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}

    <!-- Header-->

    <!-- Body-->
    <div class="container-fluid content">
        <div class = "row">
            <div class="col-6 my-auto">
                <form>
                    <div class="ma-form">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <div class="border-class">
                                <input type="text" class="form-control" id="username" placeholder="votre pseudo" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nom">Nom</label>
                                <div class="border-class">
                                    <input type="text" class="form-control" id="nom" placeholder="ex: DUPONT, TRAN,...">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="prenom">Prenom</label>
                                <div class="border-class">
                                    <input type="text" class="form-control" id="prenom" placeholder="ex: Jessica, Ha Phuong,...">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="sex">Genre</label>
                                <div class="border-class">
                                    <select id="sex" class="form-control">
                                        <option selected>Autre</option>
                                        <option selected>Homme</option>
                                        <option selected>Femme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tel">Phone Number</label>
                                <div class="border-class">
                                    <input type="Number" class="form-control" id="tel" placeholder="ex: 0123456789">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mail">Mail</label>
                            <div class="border-class">
                                <input type="text" class="form-control" id="mail" placeholder="abc@gmail.com,...">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="mdp">Password</label>
                            <div class="border-class">
                                <input type="Password" class="form-control" id="mdp" placeholder="">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">MAMMA MIA</button>
                </form>
            </div>

            <div class="col-4">
                <div class="titre-border mb-4 ml-0">
                    <p class="text-center h3 my-2">JOIN US</p>
                </div>
                <div class="col-5">
                    <img src="{{ asset('image/CHEZ_GUSTO_LOGO.png') }}"/>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="d-flex justify-content-between py-4">
                <div class="componentFooter">
                    TRAN Ha Phuong<br>
                    DIDI Teya<br>
                    Katia<br>
                    Manelle<br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}