
<div class="card text-center">
    <div class="card-header">
        WELCOME !
    </div>
    <div class="card-body">
        <h5 class="card-title">Thank you for signing up to Gusto's !</h5>
        <p class="card-text">We are happy to welcome you. Please feel free to make bookings, orders, check our menu and message us if needed.</p>
    </div>
    <div class="card-footer text-muted">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <p class="text-reset fw-bold">© 2022 Copyright: GUSTO GROUP</p>
            <a class="text-reset" href="https://github.com/ProjetSymfony1/chez-gusto" target="_blank">CLICK HERE FOR GIT REPO</a>
        </div>
    </div>
</div>
