{% extends 'user/baseUser.html.twig' %}

{% block title %}Page d'accueil User{% endblock %}

{% block body %}

    <!-- Body-->
    <div class="container-fluid content">
        <div class="row">
            <div class="col-7 my-auto">
                <div class="borderTitle mb-4 ml-0">
                    <p class="text-center h3 my-2">Welcome to your home !</p>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum
                    impedit, aut laboriosam sunt eum expedita neque dicta dolore, cupiditate velit consectetur error rem
                    nostrum provident accusantium officiis at doloribus totam esse fugiat! Impedit, dolorum et nemo
                    neque fuga reprehenderit saepe error eveniet eum quasi aliquam, non nisi rem, qui nobis ipsam
                    tenetur repellat aspernatur! Nulla nobis illum tempore reprehenderit? Nam, cupiditate. Pariatur?</p>
            </div>
            <div class="col-5">
                <img src="{{ asset('image/pngwing.com.png') }}" width="100%" height="auto"/>
            </div>
        </div>
    </div>
{% endblock %}