{% extends 'user/baseUser.html.twig' %}

{% block title %}Réservation de place{% endblock %}

{% block body %}
    <div class="container-fluid content">
        <form>
            <div class="row">
                <div class="col-6 my-auto">
                    <div class="borderTitle mb-4 ml-0">
                        <p class="text-center h2 my-2">Sit at our table...</p>
                    </div>
                    <div class="ma-form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <div class="border-class">
                                        <input type="date" class="form-control" id="date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="time">Time</label>
                                    <div class="border-class">
                                        <input type="time" class="form-control" id="time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right">Book</button>
                </div>
                <div class="col-6">
                    <img src="{{ asset('image/pngwing.com-8.png') }}" width="100%" height="auto"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}