{% extends 'base.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}
    <div class="shadow-lg p-5 mb-5 bg-white rounded container">

        <div class="card text-center">
            <div class="card-header">
                Bookings
            </div>
            <div class="card-body">
                <h5 class="card-title"> Are you coming to see us soon ?</h5>
                <p class="card-text">We will always be here for you, our door always open, our table often free !</p>

                <div class="card-footer text-muted">
                    GustoHelpService
                </div>
            </div>
        </div>
    </div>

{% endblock %}