{% extends 'base.html.twig' %}

{% block title %}My Booking{% endblock %}

{% block body %}

    <div class="shadow-lg p-5 mb-5 bg-white rounded container">

        <div class="card text-center">
            <div class="card-header">
               My bookings
            </div>
            <div class="card-body">
                <h5 class="card-title"> My booking @ Gusto !</h5>
                <p class="card-text">Follow and manage your bookings at a glance</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    </tbody>

                </table>

            </div>
        </div>
    </div>

{% endblock %}