{% extends 'base.html.twig' %}

{% block title %}My Booking{% endblock %}

{% block body %}

    <div class="shadow-lg p-5 mb-5 bg-white rounded container">

        <div class="card text-center">
            <div class="card-header">
               My bookings
            </div>
            <div class="card-body">
                <h5 class="card-title"> My booking @ Gusto !</h5>
                <p class="card-text">Follow and manage your bookings at a glance</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reservation in bookings %}
                    <td>{{ reservation.dateReservation|date('Y-m-d') }}</td>
                    <td>{{ reservation.timeReservation|date('H:i') }}</td>

                    {% if reservation.available == true %}
                        <td>  Confirmed </td>
                    {% else %}
                        <td>  Pending confirmation </td>
                    {% endif %}
                        <td>
                           <a href="{{ path('delBooking') }}?idRez={{ reservation.id }}" class="btn btn-addCart"> Delete </a>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}